html {
    box-sizing: border-box;
}
body {
    margin: 0px; 
    padding: 0px;
}  
main {    
    padding: 16px;
}
footer { 
    padding: 24px 0px;
    background-color: rgb(76, 189, 72);
    
}
img {
    height: 200px;
    width: 200px;
}
nav {
    padding: 16px;
    border-bottom: 1px solid black;
}
header {
    background-color: rgb(255, 77, 0);
}
footer {
    padding: 23px;
}
#has-dark-green {
    color: darkgreen
}
a {
    text-decoration: none;
}
h1 {
    color: darkgreen
}
.grid {
    display: grid;
    grid-template-columns: .25fr .25fr .25fr .25fr;
    grid-template-rows: 2, auto;
}
tr:nth-child(even) {
background-color: rgb(190, 190, 190);
}
a {
    color: white;
}
h3 > a {
    color: darkgreen;
}